#content {
    width: 80%;
    margin: 100px auto 0 auto;
}

#chart {
    margin: 0 auto;
}

.line {
    fill: none;
    stroke: #555555;
    stroke-width: 3;
}

.area {							
    fill: url(#area-gradient);					
    stroke-width: 0px;			
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    stroke: #ffffff;
    stroke-width: 5;
}

.dot:hover {
    fill: #ffffff; 
}

.bar {
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    min-width: 100px;					
    height: auto;					
    padding: 20px 15px;
    font: 12px sans-serif;		
    background: #ffffff;	
    border: 0px;		
    border-radius: 5px;
    pointer-events:none;
}

.icon {
    height: 1.6em;
    width: 1.6em;
    font: bold 1.5em Arial;
    line-height: 1.7em;
    border-radius: 100%;
    display: inline-block;
}

.details {
    font: 1.15em Arial;
}

/* green */
.bidded {
    fill:#2AC869;
}

.bar.bidded {
    fill:#007C1D;
}

.dot.bidded:hover {
    stroke:#2AC869;
}

/* yellow */
.intending {
    fill: #F8CF23;
}

.bar.intending {
    fill:#AC8300;
}

.dot.intending:hover {
    stroke: #F8CF23;
}

/* grey */
.reviewing {
    fill: #A2A2A5;
}

.bar.reviewing {
    fill:#565659;
}

.dot.reviewing:hover {
    stroke: #A2A2A5;
}

/* red */
.not-bidding {
    fill: #D91B03;
}

.bar.not-bidding {
    fill:#8D0000;
}

.dot.not-bidding:hover {
    stroke: #D91B03;
}
